kuatansaude.com.br {
	# @login path /login*
	# header @login {
	# 	Cross-Origin-Opener-Policy same-origin-allow-popups
	# }

	# https://stackoverflow.com/questions/76451143/cross-origin-opener-policy-policy-would-block-the-window-postmessage-call-error
	header {
		Cross-Origin-Opener-Policy same-origin-allow-popups
	}

	# backend uses _event* for websocket
	handle /_event* {
		reverse_proxy 127.0.0.1:8000
	}

	reverse_proxy 127.0.0.1:3000
}
